
@{
    ViewData["Title"] = "AboutUs";
}

<h1 >About Us</h1>

<body
    style="background-color:white">
    <style>
        .container {
            text-align: center;

        .center-image {
            display: block;
            margin: 0 auto; /* This will horizontally center the image */

        }
    </style>
    <div>
        <img src="~/NewFolder/jamesLhumalo.webp" class="center-image" >
        <p> discover the the dream behind khumaloCrafts</p>
        <p>
            james khumalo,a visionary entrepeneur decided he wanted to extablish a online e-commerce platform<br>where artisans from all over the world would be free<br />
            to showcase their work.people can order from these different artists and it would be shipped directly them.
        <p>
            we offer a range of products from different artists that reside all over the globe<br>wood,pottery,hand wooven baskets,your imagination is our limit<br>
            our missions at KhumaloCraft Emporium is to celebrate and bring the together the beauty of artisnal craftsmanship while establishing relantionships <br />
            artisans globally and an interested audience.we see a world where artisanal skills are apprecited and preserved,where artisans<br>
            are encouraged and empowered to shiwcase their talent and where cutomers can discover and indulge in the handmade products from anywhere in the world<br>
            we at KhumaloCraft thrive to to create an ecosystem where artisans have a platform to display their work.<br>we believe that every handmade product has a story behind it,rich with heritage and peek into the artisans soul.<br>
            we aim to bridge cultures,celebrate diversity and promote sustainable livelihoods for talented individulas<br>people who dedicate their lives to preserving a dying art



        </p>
    </div>
   


</body>

