@model Cloud_A1.Models.userTable2
@{
    ViewData["Title"] = "AboutUs";
}

<h1 >About Us</h1>

<body
    style="background-color:white">
    <style>
        .container {
            text-align: center;

        .center-image {
            display: block;
            margin: 0 auto; /* This will horizontally center the image */

        }
    </style>
    <div>
        <img src="~/NewFolder/jamesLhumalo.webp" class="center-image" >
        <p> discover the the dream behind khumaloCrafts</p>
        <p>
            james khumalo,a visionary entrepeneur decided he wanted to extablish a online e-commerce platform<br>where artisans from all over the world would be free<br />
            to showcase their work.people can order from these different artists and it would be shipped directly them.
        <p>
            we offer a range of products from different artists that reside all over the globe<br>wood,pottery,hand wooven baskets,your imagination is our limit<br>
            our missions at KhumaloCraft Emporium is to celebrate and bring the together the beauty of artisnal craftsmanship while establishing relantionships <br />
            artisans globally and an interested audience.we see a world where artisanal skills are apprecited and preserved,where artisans<br>
            are encouraged and empowered to shiwcase their talent and where cutomers can discover and indulge in the handmade products from anywhere in the world<br>
            we at KhumaloCraft thrive to to create an ecosystem where artisans have a platform to display their work.<br>we believe that every handmade product has a story behind it,rich with heritage and peek into the artisans soul.<br>
            we aim to bridge cultures,celebrate diversity and promote sustainable livelihoods for talented individulas<br>people who dedicate their lives to preserving a dying art
 </p>
 

    </div>
    
    <!--login button form-->
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

    <div id="id01" class="modal">

        <form class="modal-content animate" action="//localhost:7057/Home/index" method="post">
            <div class="imgcontainer">

                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/NewFolder/avatar2.jpg" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
   
    <!--sign up button form
    <p>dont have an account?sign up</p>

    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign Up</button>

    <div id="id02" class="modal">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
        <form class="modal-content" action="//localhost:7057/Home/contactus">
            <div class="container">
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>
                <lable for="Fname">
                    <b>First Name</b></label>
                    <input type="text" placeholder="Enter First name" name="Fname" required>
                    <lable for="Lname">
                        <b>Last Name</b></label>
                        <input type="text" placeholder="Enter last name" name="Lname" required>
                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                        <label>
                            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                        </label>

                        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                        <div class="clearfix">
                            <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                            <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var modal = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>-->

</body>

