
@{
    ViewData["Title"] = "contactus";
}

<h1>Contact Us</h1>
<body style="background-color:white">Phone number: 0216966412</body>
<p style="background-color:white;">Email: KhumaloCrafts@gmail.com</p>
<p>contact us if you have any queries</p>

