
@{
    ViewData["Title"] = "MyWorkPage";
}

<h1 >My Work Page</h1>
<body >
    
<div class="container">
<img src="~/NewFolder/wood6.jpeg" width="100%"height ="400"b img>
    
        <style>
            body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: white;
            }

            .container {
                position: relative;
                text-align: center;
                color: black;
                margin-bottom: 20px;
            }

                .container img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                    background-color:lightgrey;
                }

            .top-left {
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 24px;
                color: black;
            }

            main {
                text-align: center;
                padding: 20px;
            }

            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 20px;
            }

            .column {
                flex: 0 0 25%;
                padding: 10px;
            }

                .column img {
                    width: 100%;
                    height: 75%;
                    border-radius: 8px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                }

                .column p {
                    margin-top: 10px;
                    font-size: 16px;
                    color: #333;
                }
        </style>
</div>



    
<main>
        <h3 style="text-align:center;"> Some of our Products   </h3>
    <div class="row">
        <div class="column">
            
        <img src="~/NewFolder/wood1-cloud.webp" style="width:100%" >
                <p>
                    custom small cabinet made with rare wood<br>Price: R4500</p>
     </div>       
       <div class="column">
                <img src="~/NewFolder/wood2-cloud.jpeg" style="width:100%">
        <p>solid long bench<br > Price: R7800</p>
     </div>
     <div class="column">
         <img src="~/NewFolder/wood7.jpeg"style="width:100%" />
        
         <p>michigan adirondack chair<br >Price:R6300</p>
     </div>
            <div class=" column">
                <img src="~/NewFolder/wood3-cloud.jpeg" style="width:100%">
        <p>double cabinets with 3 shelfs<br>Price: 6500 </p>
    </div>

            <div class="column">
                <img src="~/NewFolder/wood4-cloud.jpeg" style="width:100%">
                        <p>work shelf with mirror attached aswell as draw space<br>Price: 9500</p>
    </div>
            <div class="column">
                <img src="~/NewFolder/wood5-cloud.jpeg" style="width:100%">
        <p>full dining table with chairs perfect for the family<br> Price:15000</p>
        </div>

        <div class="column">
            <img src="~/NewFolder/wood8.jpeg"style=" width:100%">
            <p>handmade rocking chair<br > Price:9500</p>
        </div>
        <div class="column">
            <img src="~/NewFolder/wood9.jpeg"style="width:100%" >
            <p>oak wood table <br >Price:170000</p>
        </div>

        <div class="column">
            <img src="~/NewFolder/pottery1cup.jpeg"style="width:100%" >
            <p>pottery cup<br>Price:1500</p>
        </div>
        <div class="column">
            <img src="~/NewFolder/pottery2vase.jpeg"style="width:100%" >
            <p>pottery vase<br >Price1800</p>

        </div>
      
        <div class ="column">
            <img src="~/NewFolder/pottery3kettle.jpeg"style="width:100%" >
            <p>handmade kettle<br >Price:800</p>
        </div>

        <div class="column">
            <img src="~/NewFolder/pottery4plates.jpeg"style="width:100%" >
            <p>plate set <br >Price:1000</p>
        </div>

        <div class="column">
            <img src="~/NewFolder/basket1.jpeg"style="width:100%" >
            <p>handwooven basket<br>Price:R750</p>
        </div>
        <div class="column">
            <img src="~/NewFolder/basket2.jpeg"style="width:100%" >
            <p>basket<br >Price:R500</p>
        </div>

        <div class="column">
            <img src="~/NewFolder/basket3.jpeg"style="width:100%" >
            <p>basket<br >Price:R680</p>
        </div>

                <div class="column">
                    <img src="~/NewFolder/basket4.jpeg" style="width:100%">
                    <p>basket<br>Price:R900</p>
                </div>

    </div>

        
</main>













</body>



